.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}

.btn-back-to-top {
  background-color: var(--color-primary-light);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-md);
  transition: var(--transition-fast);
  opacity: 0.8;
}

.btn-back-to-top:hover {
  opacity: 1;
  transform: translateY(-5px);
  box-shadow: var(--shadow-glow);
}
